.game-play {
  display: flex;
  flex-direction: column;
}

.score-ticker {
  width: 100%;
  height: 10%;
  color: black;
  border: 1px solid red;
  box-sizing: border-box;
  background-color: gray;
}

.score-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.score-list-item {
  margin: 0 5px;
}

.play-area {
  width: 100%;
  color: white;
}

.game-controls {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  box-sizing: border-box;
  background-color: gray;
}

.header-item {
  display: inline-block;
  margin: 10px;
}

.start-game {
  border: 1px solid white;
  color: white;
  height: 45%;
  width: 25%;
}