.nav {
  height: 5%;
  width: 100%;
  background-color: red;
  color: white;
  font-size: 180%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logout {
  background-color: white;
  color: black;
  height: 70%;
}