.lobby-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: red;
  
}

.lobby-body {
  display: flex;
}

.channel-index {
  height: 94.75vh;
  width: 60%;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  text-align: center;
  display: flex;
  justify-content: center;
}

.lobby-left {
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  height: 94.75vh;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.game-list-container {
  width: 100%;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.game-list-item {
  border: 2px solid red;
  background-color: gray;
  color: black;
  list-style: none;
  margin: 1%;
  width: 30%;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 25px;
}

.game-list-name {
  color: goldenrod;
}

.game-list-header {
  font-size: 200%;
}

.join-button {
  width: 45%;
  font-size: 85%;
  padding: 1% 3%;
}